<h1 class="text-center" style="font-weight: lighter;"><%= @list.user.username.capitalize %>'s List</h1>
<div class="card my-5 mx-auto" style="width: 80%;" id="list-container">
  <span class="card-header">
    <b>
    <%= @list.name %> - <%= @list.event_date.strftime("%d/%m/%Y") %>
    </b>

    <% if @list.user == current_user %>
    <span style="float: right;">
        <%= link_to 'Add Gift', new_list_gift_path(@list), class: "btn btn-primary" %>
        <%= link_to "Edit List", edit_list_path(@list), class: "btn btn-primary" %>
        <%= link_to "Delete List", list_path(@list), class: "btn btn-primary", method: :delete, data: { confirm: "Are you sure?"} %>
    </span>
    <% end %>
  </span>
  <span class="d-inline-flex">
    <p></p>
  </span>

  <br>
  <div id="gifts-container">
    <%= render 'gifts/index' %>
  </div>
</div>